{% extends 'base.html.twig' %}

{% block title %}bonjour{% endblock %}

{% block body %}
    <h1>bonjour {{ prenom }}</h1>
    <h4>nous sommes le {{ date }}</h4>
    <h4>{{ nomMachine }}</h4>
{% endblock %}
